name: Release Package
on:
  push:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"

      - name: Translate by dnt
        run: deno run -A ./build_npm.ts

      - name: Publish to npm
        run: npm publish --provenance
        working-directory: ./npm

      - name: Publish to jsr
        run: deno publish

